/*POLICE*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');
/* CSS PRINCIPALE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

header {
  min-height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid #c4c4c4;
}

.banner ul,
#connexion {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
}

.banner ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
/*BLOC1*/

.bloc1 {
  background-image: url(assets/TricotLifestyle/4pelotes.jpg);
  height: 780px;
  border-radius: 85px;
  overflow: hidden;
  background-size: cover;
  margin: 35px 61px;
  text-align: center;
  padding: 300px 10px;
}

.textebloc1 {
  background-color: rgba(196, 196, 196, 0.6);
  border-radius: 85px;
  text-align: center;
  align-items: center;
  width: 700px;
  margin: auto;
  padding: 30px 25px;
}
.boutonbloc1 {
  width: 900px;
  text-align: center;
  margin: 10px auto;
  align-items: center;
}

/*BLOC2*/
.bloc2 {
  background-color: #e09c90;
  height: 844px;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.textebloc2 {
  height: 301.2647399902344px;
  width: 533px;
  left: 90px;
  top: 1011.889404296875px;
}
.image2 {
  width: 700px;
  height: 615.61px;
  overflow: hidden;
  background-position: cover;
  border-radius: 85px;
}

h1 {
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 400;
}

/*LES BOUTONS*/

#connexion {
  height: 47px;
  width: 203px;
  left: 0px;
  top: 0px;
  background-color: #b8d4d1;
  padding: 7px 15px;
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.fas {
  margin-right: 1px;
}

.boutonNoir {
  text-decoration: none;
  background: rgba(12, 12, 12, 0.73);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 30px;
  margin: 20px 15px;
  width: 242px;
  height: 71, 43px;
}
