/*LES BOUTONS********************************************************/

#connexion {
  height: 47px;
  width: 203px;
  left: 0px;
  top: 0px;
  background-color: $couleurVerte;
  padding: 7px 15px;
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.boutonNoir {
  text-decoration: none;
  background: rgba(12, 12, 12, 0.73);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 30px;
  margin: 80px 15px;
  width: 242px;
  height: 71, 43px;
  cursor: pointer;
}

.compteur i {
  font-size: 25px;
  font-weight: bolder;
  padding: 0.5em 0.6em;
  cursor: pointer;
  border-radius: 50px;
  background: #eef1f2;
  box-shadow: 6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
}

.compteur i:hover {
  border-radius: 50px;
  background: #eef1f2;
  box-shadow: inset 6px 6px 12px #cacdce, inset -6px -6px 12px #ffffff;
}

.compteurS2 i {
  font-size: 15px;
  font-weight: bolder;
  padding: 0.5em 0.6em;
  cursor: pointer;
  border-radius: 50px;
  background: #eef1f2;
  box-shadow: 6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
}
.compteurS2 i:hover {
  border-radius: 50px;
  background: #eef1f2;
  box-shadow: inset 6px 6px 12px #cacdce, inset -6px -6px 12px #ffffff;
}
