/*COMPTEUR DE RANGS*******************************************/
.compteurRangs {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 44px;
  text-align: center;
  font-weight: 400;
  padding: 31px;
}
.zoneCompteurPrincipal {
  height: 287px;
  margin: 40px 50px;
  display: flex;
  justify-content: space-between;
}
.compteur {
  height: 250px;
  width: 540px;
  background-color: #eef1f2;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    padding: 0.6em 0.6em;
    background-color: #fff;
    border-radius: 50%;
    font-size: 80px;
  }
}

.compteurTexte {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 45px;
}

.compteurRangs h2 {
  font-size: 22px; /*28px demandé*/
  font-weight: normal;
}

.zoneCompteurSecondaire {
  min-height: 287px;
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.compteurS2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
.compteurElements {
  min-width: 280px;
  height: 200px;
  background-color: #eef1f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
  border-radius: 15px;
}

.compteurElements span {
  padding: 0.6em 0.6em;
  background-color: #fff;
  border-radius: 50%;
  font-size: 70px;
}

#compteur2 {
  background-color: $couleurBleu;
  overflow: hidden;
}
#compteur3 {
  background-color: $couleurVerte;
  overflow: hidden;
}
#compteur4 {
  background-color: $couleurJaune;
  overflow: hidden;
}

.texteElement {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 120px;
}

.texteElement p:nth-child(1) {
  font-weight: bold;
}

.compteurliens {
  cursor: pointer;
}
.compteurliens:hover {
  color: #e09c90;
}
#h2compteurS {
  margin-left: 50px;
}

.formulaire {
  min-height: 100px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 28px;
  margin-top: 40px;
  select {
    width: 500px;
  }
}

.formulaire button {
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  background: #eef1f2;
  border: 1px solid #000000;
  border-radius: 15px;
  margin: 45px;
}

.formulaire button i {
  margin-right: 9px;
  font-weight: bolder;
  padding: 0.5em 0.6em;
  border-radius: 50px;
  background: #eef1f2;
  box-shadow: 6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
}
