/* CSS PRINCIPALE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

/*HEADER**************************************/
header {
  min-height: 80px;
  background-color: $fondPrincipal;
  border-bottom: 1px solid #c4c4c4;
}

.banner ul,
#connexion {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
}

.banner {
  ul {
    li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      flex-wrap: wrap;
    }
    li:hover {
      opacity: 0.7;
    }
  }
}

/*FOOTER*****************************************************/
footer {
  min-height: 101px;
  width: 100%;
  background-color: $footerColor;
  margin: auto;
}

.footer-texte {
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 35px;

    li {
      font-size: 20px;
      margin-top: 30px;
      cursor: pointer;
    }
    li:hover {
      opacity: 0.7;
    }
  }
}

.RS {
  i {
    margin-right: 5px;
    margin-left: 0px;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #000;
    padding: 0.5em 0.6em;
    cor: pointer;
  }
  i:nth-child(2) {
    padding: 0.5em 0.7em;
  }
  i:nth-child(3) {
    padding: 0.5em 0.5em;
  }

  i:nth-child(1):hover {
    background-color: $couleurRouge;
    color: #fff;
  }

  i:nth-child(2):hover {
    background-color: $couleurBleu;
    color: #fff;
  }

  i:nth-child(3):hover {
    background-color: $couleurVerte;
    color: #fff;
  }

  i:nth-child(4):hover {
    background-color: $couleurJaune;
    color: #fff;
  }
}
