.formulaire{
    max-width: 1200px;
    margin: auto;

    .formulaire1{

        width: 1200px;
        

        legend{
            font-family: "roboto";
            font-size: 28px;
        }
        input {
            margin-right: 20px;
            

            type:text{
                width:25%;
            }

        }
    }
}