// COULEUR PAGE 
$fondPrincipal :#ffffff;
$footerColor :#eef1f2;

// Couleur graphique 
$couleurRouge:#E09C90;
$couleurVerte: #B8D4D1;
$couleurBleu: #D7DEF8;
$couleurJaune: #FFF3C4;

//Formumaire 
$fondFormulaire : #EEF1F2;
$borderFormulaire : 15px;